extends layout
block content
  h1= title

  p. 
    Output from del user creation script on backend
    
  p.
    #{message}
   
  a(href="/") Return to Index Page
  //ul                                                                
  //  each row in rows
  //    li #{row.fullname} (#{row.uid}) - #{row.username} 
  //      ul
  //        li #[a(href="counts/#{row.uid}") Pokemon Counts]
  //        li #[a(href="candy/#{row.uid}") Pokemon Candy]
  //        li #[a(href="evolve/#{row.uid}") Pokemon Evolve Report]
  //        //li #[a(href="evolve_cp/#{row.uid}") Pokemon Evolve Report (maximize CP)]
