extends layout
block content
  h1= title
  a(href="../..") to parent page
  
  p.
    The blocks below are sorted by max evolutions AND number of candies.
    Color coding is as follows: green background represents single stage evolves that can just be done.
    The blue background represents situations where double evolutions must be taken into account.
    At some point, will try to express those better here, but for now just realize that they must
    be considered more.
  br
  //each d in data.pData
  //  div.inline.evolveReport(class="#{d.class}").
  //    #{d.pokemonEvolvesStr2}
  //    <br />
  //    Candies: #{d.candies}
  //
  each d in data.singles
    div.inline.evolveReport(class="#{d.class}").
      #{d.pokemonEvolvesStr2}
      <br />
      Candies: #{d.candies}
      
  each d in data.doubles
    div.inline.evolveReport(class="#{d.class}").
      #{d.pokemonEvolvesStr2}
      <br />
      Candies: #{d.candies}