extends layout
block content
  h1= title

  p. 
    OK, we are here at the main page.  The counts and candy links allow the user to adjust the numbers
    in the db.
  p.
    The evolve reports should still be refined.  Need to sort out the 
    logic for maximizing XP (# of evolves) or maximizing CP (getting higher evolved pokemon).
    
  p.
    Please note that currently there is no confirm on the delete.  
    Also, the delete doesn't currently delete data from the userCandy or userHas database 
    table.
    
  each row in rows
    div.userBlock #{row.username} (id: #{row.uid})
      form
        button.userButton.g(formaction="candy/#{row.uid}") Pokemon Candy Form
        button.userButton.g(formaction="evolve/#{row.uid}") Pokemon Evolve Report
        button.userButton.r(formaction="delUser/#{row.uid}") Delete User #{row.username}

  //ul                                                                
  //  each row in rows
  //    li #{row.username} (#{row.uid})
  //      ul
  //        li #[a(href="counts/#{row.uid}") Pokemon Counts]
  //        li #[a(href="candy/#{row.uid}") Pokemon Candy]
  //        li #[a(href="evolve/#{row.uid}") Pokemon Evolve Report]
  //        li #[a(href="delUser/#{row.uid}") Delete User]
  //        //li #[a(href="evolve_cp/#{row.uid}") Pokemon Evolve Report (maximize CP)]
  

  form(action="/newUser",method="get",enctype="multipart/form-data")
    fieldset
      label(for="newUser") New Username:
      input(type="text",id="newUser",name="newUser",placeholder="Enter new user name")
      input(type="submit",value="Create New User")

  p.
    Once you have run the report, you may want to display the proof of concept 
    checklist for mass-evolves.  
    #[a(href="http://localhost/sites/pokemonGoTracking/poc/reportPoc.php") 'http://localhost/sites/pokemonGoTracking/poc/reportPoc.php' ] 

  p.
    Closing this page :-)
