extends layout
block content
  h1= title

  p. 
    OK, we are here at the main page.  The counts and candy links allow the user to adjust the numbers
    in the db.
  p.
    The evolve reports still need to be created.  Need to sort out the 
    logic for maximizing XP (# of evolves) or maximizing CP (getting higher evolved pokemon).
  p.
    This should be modified to actually loop over the users
  ul                                                                
    each row in rows
      li #{row.fullname} (#{row.uid}) - #{row.username} 
        ul
          li #[a(href="counts/#{row.uid}") Pokemon Counts]
          li #[a(href="candy/#{row.uid}") Pokemon Candy]
          li #[a(href="evolve/#{row.uid}") Pokemon Evolve Report]
          li #[a(href="delUser/#{row.uid}") Delete User]
          //li #[a(href="evolve_cp/#{row.uid}") Pokemon Evolve Report (maximize CP)]
  

  form(action="/newUser",method="get",enctype="multipart/form-data")
    fieldset
      label(for="newUser") New Username:
      input(type="text",id="newUser",name="newUser",placeholder="Enter new user name")
      input(type="submit",value="Create New User")