extends layout
- console.log('Hey There');
block content
  h1= title
  a(href="../..") to parent page
  br
  each chunk in tableChunks
    div.tableContainer
      table
        thead
          td.tableHeader #
          td.tableHeader Count
          td.tableHeader Pokemon
        tbody
          each row in chunk
            tr(id="pokemon-#{row.userPdex}",class="tablerow") 
              td.num #{row.userPdex} 
              td.count 
                button(type="button",onClick='alterCount(#{row.userId},#{row.userPdex},\'count-userid-#{row.userId}-pdex-#{row.userPdex}\',-1)').inline.decrement -
                div.inline.countValue(id='count-userid-#{row.userId}-pdex-#{row.userPdex}') #{row.userCount}
                button(type="button",onClick='alterCount(#{row.userId},#{row.userPdex},\'count-userid-#{row.userId}-pdex-#{row.userPdex}\',1)').inline.increment +
              td.pokemon #{row.userPname} 
      